<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Chat application</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/chat_app.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css"> 
	<script src="https://code.jquery.com/jquery-2.2.2.js"></script>
	<script type="text/javascript"src="/js/chatApp.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
	integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
	crossorigin=""></script>
</head>
<body>
	<div id="nav">
		<div class="col-6 center">
			<a href="/"><span class="button">Home</span></a>
			<a href="/users/new"><span class="sign">Sign in</span></a>			 		
			<% if(loggedIn) { %>
				<a href="/chat" class="fas fa-comment-dots"></a>
				<a href="<%= `/markers/${currentUser._id}` %>">Places</a>
				<% } %>
		  </div>
		</div>

	<div class='login'>
		<% if(loggedIn) { %>
			<p>Logged in as <a href="<%= `/users/${currentUser._id}` %>"><%= currentUser.fullName %></a> 
			<a href="/users/logout">Log out</a>
			</p>
		<% } else {%>
			<a href="/users/login">Log in</a>
		<% } %>
	</div>
	
		<div class="flashes"> 
		 <% if (flashMessages) { %>                                        
			  <% if (flashMessages.success) { %>
				<div class="flash success"><%= flashMessages.success %></div> 
				<div class="flash error"><%= flashMessages.error %></div>     
			  <% } %>
			<% } %> 
		   </div> 
		   
	<%- body %>
</body>

</html>
